.example-card {
    max-width: 1000px;
    margin-bottom: 10px;
  }
  img {
      max-height: 300px;
  }
  .example-header-image {
    background-image: url('https://image.freepik.com/vector-gratis/caligrafia-feliz-cumpleanos-mano_23-2148181379.jpg');
    background-size: cover;
  }