<div class="main-content">
  <div class="container-fluid">

    <div class="col-sm-6">
      <mat-form-field>
        <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search house...">
      </mat-form-field>
    </div>

    <div class="table-responsive-md">

      <table mat-table [dataSource]="dataSource" class="table table-borderless">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="action1">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element"> <button (click)="clickShowDetailsHouse(element.position)"
              color="primary" mat-button> Details</button> </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action2">
          <th mat-header-cell *matHeaderCellDef> Common Expenses </th>
          <td mat-cell *matCellDef="let element"> <button (click)="clickShowCommonExpensesHouse(element.position)"
              color="accent" mat-button>Common Expenses</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <app-speed-dial-fab color='primary' [fabButtons]="fabButtons"></app-speed-dial-fab>
  </div>
</div>