<form #form="ngForm" (ngSubmit)="addEvent()">
  <mat-form-field floatLabel='auto'>
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Ingresar titulo" name="title" [(ngModel)]="newEvent.title" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label >Inicio</mat-label>
    <input style="width: 100%; color: cornflowerblue" [(ngModel)]="selectedMoments" [selectMode]="'range'" [owlDateTimeTrigger]="date_range_component" [owlDateTime]="date_range_component" name="moments" matInput>
    <owl-date-time #date_range_component></owl-date-time>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ingrese description"></textarea>
  </mat-form-field>
  <mat-form-field floatLabel='auto'>
    <mat-select required>
      <mat-option *ngFor="let house of data.houses" value="{{house.id}}">
        {{house.name}}
      </mat-option>
    </mat-select>
    <mat-label>Responsable</mat-label>
  </mat-form-field>
  <button type="submit" class="btn btn-success">Guardar</button>
  <button (click)="onNoClick()" class="btn btn-danger">Cancelar</button>
</form>